@model What3wordsAddressModel

<link rel="stylesheet" href="~/Plugins/Widgets.What3words/Content/styles.css" />

<script asp-location="Footer" asp-exclude-from-bundle="true" type="module" src="https://cdn.what3words.com/javascript-components@4-latest/dist/what3words/what3words.esm.js"></script>
<script asp-location="Footer" asp-exclude-from-bundle="true" nomodule src="https://cdn.what3words.com/javascript-components@4-latest/dist/what3words/what3words.js?key=@(Model.ApiKey)"></script>

<div class="inputs">
    <label for="w3w">@T("Plugins.Widgets.What3words.Address.Field.Label"):</label>
    <what3words-autosuggest variant="inherit" api_key="@(Model.ApiKey)" id="what3words-autosuggest_@(Model.Prefix)">
        <input placeholder="e.g. ///lock.sprout.radar"
               type="text"
               name="w3w"
               id="what3words"
               optional />
    </what3words-autosuggest>
    <div class="what3words_tooltip">?
        <div class="what3words_tooltiptext">
            <div>@T("Plugins.Widgets.What3words.Address.Field.Tooltip")</div>
            <a href="http://delivery.w3w.co/" target="_blank">@T("Plugins.Widgets.What3words.Address.Field.Tooltip.Link")</a>
        </div>
    </div>
</div>

<script>
    var words;
    document.querySelector("#what3words-autosuggest_@(Model.Prefix)").addEventListener(
        "selected_suggestion",
        ({
            detail: {
            suggestion: { words }
            }
        }) => {
            console.log(words);
            var postData = {
                Words: words,
                Prefix: '@(Model.Prefix)'
            };
            addAntiForgeryToken(postData);
            $.ajax({
                cache: false,
                type: 'POST',
                url: '@Url.Action("SelectedSuggestion", "What3words")',
                data: postData
            });
        }
    );
</script>